*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: red;

    /* df, jcc e aic */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 80%;
    height: 90%;
    background-color: #fff;

    box-shadow: 0 0 10px white;

    display: flex;

    overflow: hidden;
}



.img{
    background-image: url("../imagens/fe8603e10b8b00837d69f2cb4f4c8d49.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    background-color: aliceblue;
    width: 50%;

}
.login {
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.login h1 {
    color: #000000;
    margin-bottom: 15px;
}

.login p{
    color: black;
}
button{
    margin-top: 15px;
    width: 30%;
    height: 30px;
}

select{
    width: 30%;
    height: 30px;
    margin-top: 15px;
}
.sexo{
    margin-top: 5px;
}
input{
    text-align: center;
    width: 30%;
}
.inp{
    height: 30px;
}
